networkx>=3.1 			# Graph library for nodes and edges
matplotlib>=3.7  		# Visualization library for graph drawing
scipy>=1.11          	# Required for networkx spring_layout

# How to use it

# While your r_n venv is activated:

# pip install -r requirements.txt

# Boom — same environment anywhere.
